{
  "openapi": "3.1.0",
  "info": {
    "title": "Tuco AI API",
    "description": "Send iMessages, SMS, and email at scale. Create leads, add to campaigns, get lines, check replies. All endpoints support Bearer API key (`Authorization: Bearer tuco_sk_...`).",
    "version": "1.0.0",
    "contact": {
      "email": "support@tuco.ai",
      "url": "https://app.tuco.ai"
    }
  },
  "servers": [
    {
      "url": "https://app.tuco.ai",
      "description": "Production"
    }
  ],
  "security": [{ "bearerAuth": [] }],
  "paths": {
    "/api/messages": {
      "post": {
        "operationId": "sendMessage",
        "summary": "Send iMessage / SMS / Email",
        "description": "Send one message to an existing lead. Create/import the lead first via `POST /api/leads`, then send using `leadId`. Tuco round-robins lines when `fromLineId` is omitted. Either `message` or `attachmentUrls` (or both) is required.",
        "tags": ["Messages"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/SendMessageRequest" },
              "examples": {
                "minimal": {
                  "summary": "Minimal (iMessage using leadId)",
                  "value": { "message": "Hi from Tuco.", "leadId": "674a1b2c3d4e5f6789012345" }
                },
                "hubspotLead": {
                  "summary": "HubSpot lead",
                  "value": {
                    "message": "Hi from Tuco.",
                    "leadId": "674a1b2c3d4e5f6789012346",
                    "hsContactId": "120001",
                    "hsPortalId": "991001"
                  }
                },
                "ghlLead": {
                  "summary": "GHL lead",
                  "value": {
                    "message": "Hi from Tuco.",
                    "leadId": "674a1b2c3d4e5f6789012347",
                    "ghlContactId": "ghl_contact_001",
                    "ghlLocationId": "eL7DD22BdZ0rismu7qCA"
                  }
                },
                "withAttachments": {
                  "summary": "With attachments (max 2)",
                  "value": {
                    "message": "Here’s the doc.",
                    "leadId": "674a1b2c3d4e5f6789012345",
                    "attachmentUrls": ["https://example.com/doc.pdf"]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Message created and sent or queued",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/SendMessageResponse" },
                "examples": {
                  "minimalSent": {
                    "summary": "Minimal leadId send",
                    "value": {
                      "success": true,
                      "status": "sent",
                      "leadId": "69b2c41d352a78479d2c623b",
                      "ghlContactId": null,
                      "ghlLocationId": null,
                      "hsPortalId": null,
                      "hsContactId": null,
                      "message": {
                        "_id": "69b344bc6dae1d942ece4d0e",
                        "message": "Hi from Tuco.",
                        "messageType": "imessage",
                        "status": "sent",
                        "direction": "sent",
                        "fromLineId": "69ab427ac1feb77d7f46462e",
                        "leadId": "69b2c41d352a78479d2c623b",
                        "workspaceId": "org_3AZs4H8UsfFxVFONr6H4K75okaG",
                        "createdAt": "2026-03-12T22:57:00.856Z",
                        "updatedAt": "2026-03-12T22:57:02.892Z",
                        "sentAt": "2026-03-12T22:57:02.892Z"
                      }
                    }
                  },
                  "hubspotLeadSent": {
                    "summary": "HubSpot lead send",
                    "value": {
                      "success": true,
                      "status": "sent",
                      "leadId": "69b2c41d352a78479d2c623b",
                      "ghlContactId": null,
                      "ghlLocationId": null,
                      "hsPortalId": "991001",
                      "hsContactId": "120001"
                    }
                  },
                  "ghlLeadSent": {
                    "summary": "GHL lead send",
                    "value": {
                      "success": true,
                      "status": "sent",
                      "leadId": "69b2c41d352a78479d2c623b",
                      "ghlContactId": "ghl_contact_001",
                      "ghlLocationId": "eL7DD22BdZ0rismu7qCA",
                      "hsPortalId": null,
                      "hsContactId": null
                    }
                  }
                }
              }
            }
          },
          "200": {
            "description": "Message sent using existing duplicate lead",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/SendMessageResponse" },
                "example": {
                  "success": true,
                  "status": "sent",
                  "leadId": "69b2c41d352a78479d2c623b",
                  "ghlContactId": "aMUQn0u0Z7cw0NQ7tJ5R",
                  "ghlLocationId": "eL7DD22BdZ0rismu7qCA",
                  "hsPortalId": null,
                  "hsContactId": null,
                  "duplicateOnly": true,
                  "existingLeadIds": ["69b2c41d352a78479d2c623b"],
                  "leadIds": ["69b2c41d352a78479d2c623b"],
                  "duplicateMessage": "Lead was duplicate; message sent using existing lead.",
                  "message": {
                    "_id": "69b344bc6dae1d942ece4d0e",
                    "message": "Hi",
                    "messageType": "imessage",
                    "status": "sent",
                    "fromLineId": "69ab427ac1feb77d7f46462e",
                    "recipientPhone": "+919042956129",
                    "leadId": "69b2c41d352a78479d2c623b",
                    "workspaceId": "org_3AZs4H8UsfFxVFONr6H4K75okaG",
                    "createdAt": "2026-03-12T22:57:00.856Z",
                    "updatedAt": "2026-03-12T22:57:02.892Z",
                    "sentAt": "2026-03-12T22:57:02.892Z"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error — see examples for every possible body",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" },
                "examples": {
                  "bodyNotObject": { "summary": "Body not JSON object", "value": { "error": "Request body must be a JSON object" } },
                  "invalidJson": { "summary": "Invalid JSON", "value": { "error": "Invalid request body (JSON required)" } },
                  "empty": { "summary": "Message and attachments empty", "value": { "error": "Message and attachmentUrls cannot both be empty" } },
                  "invalidType": { "summary": "Invalid messageType", "value": { "error": "Invalid messageType. Must be email, sms, or imessage" } },
                  "attachmentUrlsNotArray": { "summary": "attachmentUrls not array", "value": { "error": "attachmentUrls must be an array" } },
                  "maxAttachments": { "summary": "More than 2 attachments", "value": { "error": "Maximum 2 attachments per message" } },
                  "noLines": { "summary": "No active lines", "value": { "error": "No active lines in workspace. Add and activate a line, or provide fromLineId." } },
                  "invalidScheduledDate": { "summary": "Invalid scheduledDate", "value": { "error": "Invalid scheduledDate format" } },
                  "invalidTimeWindow": { "summary": "Invalid time format", "value": { "error": "Invalid time format. sendWindowStart and sendWindowEnd must be in HH:mm format (e.g., 09:00, 17:00)" } },
                  "invalidTimezone": { "summary": "Invalid timezone/window", "value": { "error": "Invalid timezone or time window settings. Please check your timezone and time format." } },
                  "noRecipient": { "summary": "No recipient", "value": { "error": "Either recipientEmail or recipientPhone is required (in body or on the lead when leadId is provided)." } },
                  "fallback": { "summary": "Fallback not configured", "value": { "error": "sendFallbackSmsOnFailed is true but fallback SMS is not configured. Configure fallback in workspace settings (Settings → Fallback) or set sendFallbackSmsOnFailed to false.", "code": "FALLBACK_NOT_CONFIGURED" } }
                }
              }
            }
          },
          "403": {
            "description": "Attachment URL not allowed for this workspace",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" },
                "example": { "error": "Attachment URL does not belong to this organization" }
              }
            }
          },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" }, "example": { "error": "Unauthorized" } } } },
          "402": { "description": "Subscription past due", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" }, "example": { "error": "READ_ONLY", "code": "READ_ONLY", "reason": "past_due" } } } },
          "404": { "description": "Lead not found", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" }, "example": { "error": "Lead not found or access denied" } } } },
          "500": { "description": "Internal server error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" }, "example": { "error": "Internal server error" } } } }
        }
      }
    },
    "/api/leads": {
      "post": {
        "operationId": "createLeads",
        "summary": "Create or import leads",
        "description": "Create one or more leads. Omit `listId` to use Quick Sends list. Accepts `leads` array or `body` as alias. Returns 200 when all duplicates (existing lead IDs returned).",
        "tags": ["Leads"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CreateLeadsRequest" },
              "examples": {
                "singleLead": {
                  "summary": "Single lead (omit listId = Quick Sends)",
                  "value": {
                    "leads": [{ "firstName": "John", "lastName": "Doe", "email": "john@example.com", "phone": "+12025551234" }],
                    "source": "api"
                  }
                },
                "bulkWithList": {
                  "summary": "Bulk with listId and source",
                  "value": {
                    "leads": [
                      { "firstName": "Jane", "lastName": "Smith", "email": "jane@example.com", "phone": "+12025559999", "companyName": "Acme", "contactOwnerEmail": "jane-rep@yourcompany.com" },
                      { "firstName": "Bob", "lastName": "Lee", "email": "bob@example.com", "phone": "+12025558888" }
                    ],
                    "listId": "507f1f77bcf86cd799439011",
                    "source": "gohighlevel",
                    "defaultCountryCode": "+1",
                    "ghlLocationId": "eL7DD22BdZ0rismu7qCA",
                    "contactOwnerEmail": "default-rep@yourcompany.com"
                  }
                },
                "bulkWithHubSpotContactIds": {
                  "summary": "Multiple leads with HubSpot contact IDs",
                  "value": {
                    "leads": [
                      {
                        "firstName": "Ava",
                        "lastName": "Stone",
                        "email": "ava@example.com",
                        "phone": "+12025550111",
                        "hsContactId": "120001"
                      },
                      {
                        "firstName": "Noah",
                        "lastName": "Reed",
                        "email": "noah@example.com",
                        "phone": "+12025550112",
                        "hsContactId": "120002"
                      }
                    ],
                    "source": "hubspot"
                  }
                },
                "bulkWithGhlContactIds": {
                  "summary": "Multiple leads with GHL contact IDs",
                  "value": {
                    "leads": [
                      {
                        "firstName": "Mia",
                        "lastName": "Cole",
                        "email": "mia@example.com",
                        "phone": "+12025550121",
                        "ghlContactId": "ghl_contact_001"
                      },
                      {
                        "firstName": "Liam",
                        "lastName": "Bennett",
                        "email": "liam@example.com",
                        "phone": "+12025550122",
                        "ghlContactId": "ghl_contact_002"
                      }
                    ],
                    "source": "gohighlevel",
                    "ghlLocationId": "eL7DD22BdZ0rismu7qCA"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "At least one lead created",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CreateLeadsResponse" },
                "example": {
                  "message": "Leads saved successfully",
                  "savedCount": 1,
                  "duplicateCount": 0,
                  "totalProcessed": 1,
                  "listId": "507f1f77bcf86cd799439011",
                  "leadId": "674a1b2c3d4e5f678901234a",
                  "leadIds": ["674a1b2c3d4e5f678901234a"],
                  "leadListIds": ["507f1f77bcf86cd799439011"],
                  "ghlContactId": null,
                  "ghlLocationId": null,
                  "hsPortalId": null,
                  "hsContactId": null
                }
              }
            }
          },
          "200": {
            "description": "All leads were duplicates; existing IDs returned",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CreateLeadsDuplicateResponse" },
                "example": {
                  "message": "Lead was a duplicate; existing lead ID returned.",
                  "duplicateOnly": true,
                  "duplicateCount": 1,
                  "totalProcessed": 1,
                  "leadId": "69b2c41d352a78479d2c623b",
                  "existingLeadIds": ["69b2c41d352a78479d2c623b"],
                  "leadIds": ["69b2c41d352a78479d2c623b"],
                  "duplicates": [{ "input": { "firstName": "BG", "lastName": "Real", "email": "goforbg@icloud.com", "phone": "+919042956129" }, "existingLead": { "_id": "69b2c41d352a78479d2c623b", "firstName": "BG", "lastName": "Real", "email": "goforbg@icloud.com", "phone": "+919042956129" } }],
                  "ghlContactId": "aMUQn0u0Z7cw0NQ7tJ5R",
                  "ghlLocationId": "eL7DD22BdZ0rismu7qCA",
                  "hsPortalId": null,
                  "hsContactId": null
                }
              }
            }
          },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" }, "example": { "error": "Unauthorized" } } } },
          "402": { "description": "Read-only (past due)", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" }, "example": { "error": "READ_ONLY", "code": "READ_ONLY", "reason": "past_due" } } } },
          "404": { "description": "List not found", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" }, "example": { "error": "List not found. The specified listId does not exist or is invalid. Omit listId to use the Quick Sends list." } } } },
          "500": { "description": "Internal server error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" }, "example": { "error": "Internal server error" } } } }
        }
      },
      "get": {
        "operationId": "getLeads",
        "summary": "Get leads (search or single)",
        "description": "List leads with optional `search`, `listId`, `page`, `limit`. Use query `id` for a single lead by ID.",
        "tags": ["Leads"],
        "parameters": [
          { "name": "id", "in": "query", "description": "Single lead ID (returns { lead })", "schema": { "type": "string" } },
          { "name": "search", "in": "query", "description": "Search firstName, lastName, email, phone, companyName (case-insensitive)", "schema": { "type": "string" } },
          { "name": "listId", "in": "query", "description": "Filter by list", "schema": { "type": "string" } },
          { "name": "page", "in": "query", "schema": { "type": "integer", "default": 1 } },
          { "name": "limit", "in": "query", "schema": { "type": "integer", "default": 50 } }
        ],
        "responses": {
          "200": {
            "description": "Leads and lists (or single lead when id provided)",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/GetLeadsResponse" },
                "examples": {
                  "list": {
                    "summary": "List with search/pagination",
                    "value": {
                      "leads": [
                        { "_id": "69a2e8e6c580cf046a551fde", "firstName": "Tuco test", "lastName": null, "email": "goforbg@icloud.com", "phone": null, "listId": "69a1fc43a00b806f643082df", "workspaceId": "org_3ABCDbdGyF6w99hikyVN4cmo6H0", "source": "api", "createdAt": "2026-02-28T13:08:54.421Z", "updatedAt": "2026-02-28T13:08:54.421Z" }
                      ],
                      "lists": [{ "_id": "69a1fc43a00b806f643082df", "name": "Quick Sends", "description": "Quick send messages", "workspaceId": "org_3ABCDbdGyF6w99hikyVN4cmo6H0", "leadCount": 2, "createdAt": "2026-02-27T20:19:15.930Z", "updatedAt": "2026-03-01T22:13:29.337Z" }],
                      "pagination": { "page": 1, "limit": 50, "totalCount": 1, "totalPages": 1 }
                    }
                  },
                  "single": {
                    "summary": "Single lead (when id query provided)",
                    "value": {
                      "lead": { "_id": "69a2e8e6c580cf046a551fde", "firstName": "Tuco test", "lastName": null, "email": "goforbg@icloud.com", "phone": null, "listId": "69a1fc43a00b806f643082df", "workspaceId": "org_3ABCDbdGyF6w99hikyVN4cmo6H0", "source": "api", "createdAt": "2026-02-28T13:08:54.421Z", "updatedAt": "2026-02-28T13:08:54.421Z" }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid lead id or no workspace",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" },
                "examples": {
                  "invalidLeadId": { "summary": "Invalid lead id", "value": { "error": "Invalid lead id" } },
                  "noWorkspace": { "summary": "No active workspace", "value": { "error": "No active workspace" } }
                }
              }
            }
          },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" }, "example": { "error": "Unauthorized" } } } },
          "404": { "description": "Lead not found (when id provided)", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" }, "example": { "error": "Lead not found" } } } },
          "503": { "description": "Search timeout", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" }, "example": { "error": "Search timed out. Try a more specific search or fewer results." } } } },
          "500": { "description": "Internal server error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" }, "example": { "error": "Internal server error" } } } }
        }
      },
      "delete": {
        "operationId": "deleteLeads",
        "summary": "Delete one or more leads",
        "description": "Permanently delete leads from the workspace. List counts and campaign data are updated. Invalid IDs are skipped; deletedCount is the number actually deleted.",
        "tags": ["Leads"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["ids"],
                "properties": { "ids": { "type": "array", "items": { "type": "string" }, "description": "Lead IDs to delete" } }
              },
              "example": { "ids": ["674a1b2c3d4e5f6789012345", "674a1b2c3d4e5f6789012346"] }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Deletion result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": { "deletedCount": { "type": "integer" } }
                },
                "example": { "deletedCount": 2 }
              }
            }
          },
          "400": {
            "description": "No ids or invalid",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" },
                "examples": {
                  "noIds": { "summary": "No ids provided", "value": { "error": "No ids provided" } },
                  "invalidId": { "summary": "Invalid lead id in ids array", "value": { "error": "Invalid lead id in ids array" } },
                  "noWorkspace": { "summary": "No active workspace", "value": { "error": "No active workspace" } }
                }
              }
            }
          },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" }, "example": { "error": "Unauthorized" } } } },
          "500": { "description": "Internal server error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" }, "example": { "error": "Internal server error" } } } }
        }
      }
    },
    "/api/campaigns/{id}/leads": {
      "post": {
        "operationId": "addLeadToCampaign",
        "summary": "Add lead to campaign",
        "description": "Add an existing lead by `leadId` or create a new lead with `lead` object. Starts the campaign sequence. Returns 200 when lead already in campaign.",
        "tags": ["Campaigns"],
        "parameters": [{ "name": "id", "in": "path", "required": true, "description": "Campaign ID", "schema": { "type": "string" } }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/AddLeadToCampaignRequest" },
              "examples": {
                "byLeadId": { "summary": "Add existing lead by ID", "value": { "leadId": "69b2c41d352a78479d2c623b" } },
                "newLead": {
                  "summary": "Create new lead and add to campaign",
                  "value": {
                    "lead": {
                      "firstName": "Jane",
                      "lastName": "Smith",
                      "email": "jane@example.com",
                      "phone": "+12025551234",
                      "companyName": "Acme Inc"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Lead added and sequence started",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/AddLeadToCampaignResponse" },
                "example": {
                  "success": true,
                  "leadId": "69b2c41d352a78479d2c623b",
                  "campaignId": "69ab444ac1feb77d7f46462f",
                  "messageCount": 1,
                  "message": "Lead added to campaign and sequence started",
                  "alreadyInCampaign": false,
                  "ghlContactId": "aMUQn0u0Z7cw0NQ7tJ5R",
                  "ghlLocationId": "eL7DD22BdZ0rismu7qCA",
                  "hsPortalId": null,
                  "hsContactId": null
                }
              }
            }
          },
          "200": {
            "description": "Lead already in campaign",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/AddLeadToCampaignResponse" },
                "example": {
                  "success": true,
                  "leadId": "69b2c41d352a78479d2c623b",
                  "campaignId": "69ab444ac1feb77d7f46462f",
                  "messageCount": 0,
                  "message": "Lead already in campaign (re-entry not allowed).",
                  "alreadyInCampaign": true,
                  "existingLeadIds": ["69b2c41d352a78479d2c623b"],
                  "ghlContactId": "aMUQn0u0Z7cw0NQ7tJ5R",
                  "ghlLocationId": "eL7DD22BdZ0rismu7qCA"
                }
              }
            }
          },
          "400": {
            "description": "Missing leadId/lead or validation",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" },
                "examples": {
                  "eitherRequired": { "summary": "leadId or lead required", "value": { "error": "Either leadId or lead data is required" } },
                  "firstNameRequired": { "summary": "firstName required when using lead", "value": { "error": "firstName is required" } },
                  "emailOrPhoneRequired": { "summary": "email or phone required", "value": { "error": "Either email or phone is required" } },
                  "invalidRequest": { "summary": "Invalid request", "value": { "error": "Invalid request: must provide leadId or lead data" } },
                  "leadNotResolved": { "summary": "Lead not resolved", "value": { "error": "Lead not resolved" } },
                  "processFailed": { "summary": "Process failed", "value": { "error": "Failed to process lead through campaign" } }
                }
              }
            }
          },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" }, "example": { "error": "Unauthorized" } } } },
          "404": {
            "description": "Campaign or lead not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" },
                "examples": {
                  "campaignNotFound": { "summary": "Campaign not found", "value": { "error": "Campaign not found" } },
                  "leadNotFound": { "summary": "Lead not found", "value": { "error": "Lead not found" } }
                }
              }
            }
          },
          "500": { "description": "Internal server error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" }, "example": { "error": "Internal server error" } } } }
        }
      }
    },
    "/api/replies": {
      "get": {
        "operationId": "getReplies",
        "summary": "Check replies for a lead (or campaign)",
        "description": "Returns leads who have replied. Filter by `leadId`, `campaignId`, `recipientEmail`, or `recipientPhone`. Paginated.",
        "tags": ["Replies"],
        "parameters": [
          { "name": "leadId", "in": "query", "description": "Replies from this lead only", "schema": { "type": "string" } },
          { "name": "campaignId", "in": "query", "description": "Replies from leads in this campaign", "schema": { "type": "string" } },
          { "name": "recipientEmail", "in": "query", "schema": { "type": "string" } },
          { "name": "recipientPhone", "in": "query", "schema": { "type": "string" } },
          { "name": "page", "in": "query", "schema": { "type": "integer", "default": 1 } },
          { "name": "limit", "in": "query", "schema": { "type": "integer", "default": 50 } }
        ],
        "responses": {
          "200": {
            "description": "Replies list",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/GetRepliesResponse" },
                "example": {
                  "replies": [
                    {
                      "leadId": "69b2c41d352a78479d2c623b",
                      "messageId": "69b340dd6dae1d942ece4d09",
                      "message": "Stop",
                      "respondedAtUtc": "2026-03-12T22:40:29.174Z",
                      "recipientPhone": "+919042956129",
                      "recipientEmail": "goforbg@icloud.com",
                      "name": "BG Real",
                      "recentReplies": [
                        { "messageId": "69b340dd6dae1d942ece4d09", "message": "Stop", "receivedAtUtc": "2026-03-12T22:40:29.174Z" },
                        { "messageId": "69b33fdd6dae1d942ece4d08", "message": "Thanks for reaching out", "receivedAtUtc": "2026-03-12T21:15:00.000Z" }
                      ],
                      "parentMessages": [
                        { "messageId": "69b344bc6dae1d942ece4d0e", "message": "Here's your document.", "sentAtUtc": "2026-03-12T22:57:02.892Z", "batchId": null, "stepIndex": null }
                      ]
                    }
                  ],
                  "total": 1,
                  "page": 1,
                  "limit": 50,
                  "totalPages": 1
                }
              }
            }
          },
          "400": {
            "description": "Invalid leadId or campaignId",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" },
                "examples": {
                  "invalidLeadId": { "summary": "Invalid leadId", "value": { "error": "Invalid leadId" } },
                  "invalidCampaignId": { "summary": "Invalid campaignId", "value": { "error": "Invalid campaignId" } },
                  "noWorkspace": { "summary": "No active workspace", "value": { "error": "No active workspace" } }
                }
              }
            }
          },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" }, "example": { "error": "Unauthorized" } } } },
          "404": {
            "description": "Lead or campaign not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" },
                "examples": {
                  "leadNotFound": { "summary": "Lead not found", "value": { "error": "Lead not found or access denied" } },
                  "campaignNotFound": { "summary": "Campaign not found", "value": { "error": "Campaign not found" } }
                }
              }
            }
          },
          "500": { "description": "Internal server error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" }, "example": { "error": "Failed to fetch replies" } } } }
        }
      }
    },
    "/api/lines/by-user": {
      "get": {
        "operationId": "getLines",
        "summary": "Get all lines",
        "description": "Returns all lines for the authenticated workspace with usage and health.",
        "tags": ["Lines"],
        "responses": {
          "200": {
            "description": "List of lines",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/GetLinesResponse" },
                "example": {
                  "lines": [
                    {
                      "_id": "699f704bc405fae6ca299a08",
                      "workspaceId": "org_3ABCDbdGyF6w99hikyVN4cmo6H0",
                      "phone": "+16462230920",
                      "email": "goforlisa@icloud.com",
                      "firstName": "Lindsey",
                      "lastName": "Rodriguez",
                      "isActive": true,
                      "provisioningStatus": "active",
                      "lineType": "byon",
                      "dailyNewConversationsLimit": 20,
                      "dailyTotalMessagesLimit": 50,
                      "usage": { "date": "2026-03-01", "newConversationsCount": 4, "totalMessagesCount": 11 },
                      "healthCheck": { "status": "healthy", "lastCheckedAt": "2026-03-01T20:52:00.097Z" },
                      "createdAt": "2026-02-25T21:57:31.276Z",
                      "updatedAt": "2026-03-01T20:52:04.622Z"
                    }
                  ]
                }
              }
            }
          },
          "400": { "description": "No active workspace", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" }, "example": { "error": "No active workspace" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" }, "example": { "error": "Unauthorized" } } } },
          "500": { "description": "Internal server error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" }, "example": { "error": "Internal server error" } } } }
        }
      }
    },
    "/api/leads/check-availability": {
      "get": {
        "operationId": "checkLeadAvailability",
        "summary": "Check iMessage availability for a single lead",
        "description": "Check if a specific lead is reachable via iMessage. Updates the lead's availability status. Query param `id` = lead ID.",
        "tags": ["Leads"],
        "parameters": [{ "name": "id", "in": "query", "required": true, "description": "Lead ID", "schema": { "type": "string" } }],
        "responses": {
          "200": {
            "description": "Availability result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean" },
                    "leadId": { "type": "string" },
                    "available": { "type": "boolean" },
                    "status": { "type": "string", "enum": ["available", "unavailable", "error"] }
                  }
                },
                "examples": {
                  "available": { "summary": "iMessage available", "value": { "success": true, "leadId": "69b2c41d352a78479d2c623b", "available": true, "status": "available" } },
                  "unavailable": { "summary": "iMessage unavailable", "value": { "success": true, "leadId": "69b2c41d352a78479d2c623b", "available": false, "status": "unavailable" } }
                }
              }
            }
          },
          "400": {
            "description": "Missing id or server not configured",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" },
                "examples": {
                  "idRequired": { "summary": "Lead ID required", "value": { "error": "Lead ID is required" } },
                  "serverNotConfigured": { "summary": "Availability server not configured", "value": { "error": "Availability check server not configured" } }
                }
              }
            }
          },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "404": { "description": "Lead not found", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" }, "example": { "error": "Lead not found" } } } }
        }
      },
      "post": {
        "operationId": "bulkCheckAvailability",
        "summary": "Check iMessage availability (single address or bulk by lead IDs)",
        "description": "Check one phone/email with `address`, or many leads with `leadIds`. Same logic Tuco uses internally.",
        "tags": ["Leads"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "address": { "type": "string", "description": "Single phone or email to check (no lead required)" },
                  "leadIds": { "type": "array", "items": { "type": "string" }, "description": "Lead IDs to check in workspace" }
                }
              },
              "examples": {
                "singleAddress": { "summary": "Single address", "value": { "address": "+12025551234" } },
                "bulkLeads": { "summary": "Bulk by lead IDs", "value": { "leadIds": ["667f1f77bcf86cd799439012", "667f1f77bcf86cd799439013"] } }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Single address: { success, available, address }. Bulk: { success, results, ... }",
            "content": {
              "application/json": {
                "schema": { "type": "object" },
                "examples": {
                  "single": {
                    "summary": "Single address check",
                    "value": { "success": true, "available": true, "address": "+12025551234" }
                  },
                  "bulk": {
                    "summary": "Bulk by lead IDs",
                    "value": {
                      "success": true,
                      "results": [
                        { "leadId": "667f1f77bcf86cd799439012", "available": true },
                        { "leadId": "667f1f77bcf86cd799439013", "available": false }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing address/leadIds or invalid",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" },
                "examples": {
                  "addressOrLeadIds": { "summary": "address or leadIds required", "value": { "error": "Either address or leadIds is required" } },
                  "serverNotConfigured": { "summary": "Server not configured", "value": { "error": "Availability check server not configured" } }
                }
              }
            }
          },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" }, "example": { "error": "Unauthorized" } } } },
          "500": { "description": "Internal server error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" }, "example": { "error": "Internal server error" } } } }
        }
      }
    },
    "/api/messages/cancel-for-lead": {
      "post": {
        "operationId": "cancelForLead",
        "summary": "Cancel pending messages for a lead",
        "description": "Cancel all pending, scheduled, and queued messages for a specific lead. Useful when a lead replies \"Stop\" or opts out mid-sequence. Accepts `leadId`, `recipientPhone`, or `recipientEmail` — at least one is required. When only a phone or email is provided, Tuco looks up the lead first, then falls back to cancelling by address on messages directly.",
        "tags": ["Messages"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CancelForLeadRequest" },
              "examples": {
                "byLeadId": {
                  "summary": "Cancel by lead ID",
                  "value": { "leadId": "69b2c41d352a78479d2c623b" }
                },
                "byPhone": {
                  "summary": "Cancel by phone (no lead ID needed)",
                  "value": { "recipientPhone": "+14422646782" }
                },
                "byEmail": {
                  "summary": "Cancel by email",
                  "value": { "recipientEmail": "john@example.com" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Cancellation result",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CancelForLeadResponse" },
                "examples": {
                  "cancelled": {
                    "summary": "Messages cancelled",
                    "value": {
                      "success": true,
                      "cancelledCount": 3,
                      "jobsRemovedFromQueue": 2,
                      "leadId": "69b2c41d352a78479d2c623b",
                      "messageIds": ["69dba0001111111111111111", "69dba0001111111111111112", "69dba0001111111111111113"]
                    }
                  },
                  "noPending": {
                    "summary": "No pending messages",
                    "value": {
                      "success": true,
                      "cancelledCount": 0,
                      "jobsRemovedFromQueue": 0,
                      "leadId": "69b2c41d352a78479d2c623b",
                      "messageIds": []
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" },
                "examples": {
                  "noIdentifier": { "summary": "No identifier provided", "value": { "error": "Either leadId, recipientPhone, or recipientEmail is required" } },
                  "invalidLeadId": { "summary": "Invalid leadId", "value": { "error": "Invalid leadId" } },
                  "noWorkspace": { "summary": "No active workspace", "value": { "error": "No active workspace" } }
                }
              }
            }
          },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" }, "example": { "error": "Unauthorized" } } } },
          "500": { "description": "Internal server error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" }, "example": { "error": "Internal server error" } } } }
        }
      }
    },
    "/api/webhooks": {
      "get": {
        "operationId": "listWebhooks",
        "summary": "List webhooks",
        "description": "List all webhooks registered in the current workspace. Secrets are never returned.",
        "tags": ["Webhooks"],
        "responses": {
          "200": {
            "description": "Webhook list",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ListWebhooksResponse" },
                "example": {
                  "webhooks": [
                    {
                      "id": "680a1b2c3d4e5f6789012345",
                      "url": "https://example.com/webhooks/tuco",
                      "events": ["message.sent", "message.failed", "message.reply"],
                      "name": "Production webhook",
                      "description": "Sends events to our CRM",
                      "isActive": true,
                      "lastTriggeredAt": "2026-04-12T10:30:00.000Z",
                      "lastSuccessAt": "2026-04-12T10:30:00.000Z",
                      "lastFailureAt": null,
                      "failureCount": 0,
                      "createdAt": "2026-03-01T00:00:00.000Z",
                      "updatedAt": "2026-04-12T10:30:00.000Z"
                    }
                  ]
                }
              }
            }
          },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" }, "example": { "error": "Unauthorized" } } } },
          "400": { "description": "No active workspace", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" }, "example": { "error": "No active workspace" } } } }
        }
      },
      "post": {
        "operationId": "createWebhook",
        "summary": "Create webhook",
        "description": "Register a new webhook endpoint. The signing secret is returned **once** in the response — save it immediately. You won't be able to retrieve it again.",
        "tags": ["Webhooks"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CreateWebhookRequest" },
              "examples": {
                "allEvents": {
                  "summary": "Subscribe to all events",
                  "value": {
                    "url": "https://example.com/webhooks/tuco",
                    "events": ["message.sent", "message.failed", "message.fallback", "message.reply", "message.opened"],
                    "name": "Production webhook"
                  }
                },
                "repliesOnly": {
                  "summary": "Replies only",
                  "value": {
                    "url": "https://example.com/webhooks/replies",
                    "events": ["message.reply"],
                    "name": "Reply listener",
                    "description": "Forwards replies to Slack"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Webhook created. Secret is returned **once** — save it now.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CreateWebhookResponse" },
                "example": {
                  "id": "680a1b2c3d4e5f6789012345",
                  "secret": "dGhpcyBpcyBhIHNhbXBsZSBzZWNyZXQ=",
                  "url": "https://example.com/webhooks/tuco",
                  "events": ["message.sent", "message.failed", "message.fallback", "message.reply", "message.opened"],
                  "name": "Production webhook",
                  "description": null,
                  "createdAt": "2026-04-12T12:00:00.000Z",
                  "warning": "Save this secret now. You will not be able to see it again."
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" },
                "examples": {
                  "urlRequired": { "summary": "URL required", "value": { "error": "URL is required" } },
                  "invalidUrl": { "summary": "Invalid URL", "value": { "error": "Invalid URL format" } },
                  "noEvents": { "summary": "No events", "value": { "error": "At least one event must be selected" } },
                  "invalidEvents": { "summary": "Invalid event type", "value": { "error": "Invalid events: message.invalid" } },
                  "noName": { "summary": "Name required", "value": { "error": "Name is required" } }
                }
              }
            }
          },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" }, "example": { "error": "Unauthorized" } } } },
          "402": { "description": "Subscription past due", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" }, "example": { "error": "READ_ONLY", "code": "READ_ONLY", "reason": "past_due" } } } }
        }
      }
    },
    "/api/webhooks/{id}": {
      "get": {
        "operationId": "getWebhook",
        "summary": "Get webhook",
        "description": "Get details for a single webhook. The secret is never returned.",
        "tags": ["Webhooks"],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" }, "description": "Webhook ID" }
        ],
        "responses": {
          "200": {
            "description": "Webhook details",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/WebhookResponse" },
                "example": {
                  "id": "680a1b2c3d4e5f6789012345",
                  "url": "https://example.com/webhooks/tuco",
                  "events": ["message.sent", "message.failed", "message.reply"],
                  "name": "Production webhook",
                  "description": "Sends events to our CRM",
                  "isActive": true,
                  "lastTriggeredAt": "2026-04-12T10:30:00.000Z",
                  "lastSuccessAt": "2026-04-12T10:30:00.000Z",
                  "lastFailureAt": null,
                  "failureCount": 0,
                  "createdAt": "2026-03-01T00:00:00.000Z",
                  "updatedAt": "2026-04-12T10:30:00.000Z"
                }
              }
            }
          },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" }, "example": { "error": "Unauthorized" } } } },
          "404": { "description": "Webhook not found", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" }, "example": { "error": "Webhook not found" } } } }
        }
      },
      "patch": {
        "operationId": "updateWebhook",
        "summary": "Update webhook",
        "description": "Update a webhook's URL, subscribed events, name, description, or active status. Only include the fields you want to change.",
        "tags": ["Webhooks"],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" }, "description": "Webhook ID" }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/UpdateWebhookRequest" },
              "examples": {
                "changeUrl": {
                  "summary": "Change URL",
                  "value": { "url": "https://new-endpoint.example.com/webhooks" }
                },
                "disable": {
                  "summary": "Disable webhook",
                  "value": { "isActive": false }
                },
                "changeEvents": {
                  "summary": "Change subscribed events",
                  "value": { "events": ["message.reply", "message.opened"] }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook updated",
            "content": { "application/json": { "schema": { "type": "object", "properties": { "success": { "type": "boolean" } } }, "example": { "success": true } } }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" },
                "examples": {
                  "invalidUrl": { "summary": "Invalid URL", "value": { "error": "Invalid URL format" } },
                  "noEvents": { "summary": "Empty events", "value": { "error": "At least one event must be selected" } }
                }
              }
            }
          },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" }, "example": { "error": "Unauthorized" } } } },
          "402": { "description": "Subscription past due", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" }, "example": { "error": "READ_ONLY", "code": "READ_ONLY", "reason": "past_due" } } } },
          "404": { "description": "Webhook not found", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" }, "example": { "error": "Webhook not found" } } } }
        }
      },
      "delete": {
        "operationId": "deleteWebhook",
        "summary": "Delete webhook",
        "description": "Permanently delete a webhook. This stops all future event deliveries to this endpoint.",
        "tags": ["Webhooks"],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" }, "description": "Webhook ID" }
        ],
        "responses": {
          "200": {
            "description": "Webhook deleted",
            "content": { "application/json": { "schema": { "type": "object", "properties": { "success": { "type": "boolean" } } }, "example": { "success": true } } }
          },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" }, "example": { "error": "Unauthorized" } } } },
          "402": { "description": "Subscription past due", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" }, "example": { "error": "READ_ONLY", "code": "READ_ONLY", "reason": "past_due" } } } },
          "404": { "description": "Webhook not found", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" }, "example": { "error": "Webhook not found" } } } }
        }
      }
    },
    "/api/webhooks/{id}/health-check": {
      "post": {
        "operationId": "testWebhook",
        "summary": "Test webhook (health check)",
        "description": "Fire a test webhook to your endpoint to verify it's reachable and responding correctly. Sends a real signed POST with `data.test: true` so your handler can distinguish test pings from real events. Uses the webhook's first subscribed event type.",
        "tags": ["Webhooks"],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" }, "description": "Webhook ID" }
        ],
        "responses": {
          "200": {
            "description": "Health check result",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/WebhookHealthCheckResponse" },
                "examples": {
                  "success": {
                    "summary": "Endpoint is healthy",
                    "value": {
                      "success": true,
                      "message": "Health check passed",
                      "statusCode": 200,
                      "response": "OK"
                    }
                  },
                  "failure": {
                    "summary": "Endpoint unreachable or errored",
                    "value": {
                      "success": false,
                      "error": "HTTP 502: Bad Gateway",
                      "details": "upstream connect error",
                      "statusCode": 502
                    }
                  },
                  "timeout": {
                    "summary": "Endpoint timed out",
                    "value": {
                      "success": false,
                      "error": "The operation was aborted due to timeout"
                    }
                  }
                }
              }
            }
          },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" }, "example": { "error": "Unauthorized" } } } },
          "404": { "description": "Webhook not found", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" }, "example": { "error": "Webhook not found" } } } }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "API Key",
        "description": "Workspace API key: Authorization: Bearer tuco_sk_xxxxxxxxxxxxx"
      }
    },
    "schemas": {
      "SendMessageRequest": {
        "type": "object",
        "properties": {
          "message": { "type": "string", "description": "Text content. Required unless attachmentUrls provided." },
          "messageType": { "type": "string", "enum": ["imessage", "sms", "email"], "default": "imessage" },
          "recipientPhone": { "type": "string", "description": "E.164 phone" },
          "recipientEmail": { "type": "string" },
          "recipientName": { "type": "string" },
          "fromLineId": { "type": "string", "description": "Optional; round-robin when omitted" },
          "leadId": { "type": "string", "description": "Existing lead ID" },
          "altPhone1": { "type": "string" },
          "altPhone2": { "type": "string" },
          "altPhone3": { "type": "string" },
          "altEmail1": { "type": "string" },
          "altEmail2": { "type": "string" },
          "altEmail3": { "type": "string" },
          "scheduledDate": { "type": "string", "format": "date-time" },
          "timezone": { "type": "string" },
          "sendWindowStart": { "type": "string", "description": "HH:mm" },
          "sendWindowEnd": { "type": "string", "description": "HH:mm" },
          "allowedDaysOfWeek": { "type": "array", "items": { "type": "integer", "minimum": 0, "maximum": 6 } },
          "sendFallbackSmsOnFailed": { "type": "boolean", "default": false },
          "batchId": { "type": "string" },
          "attachmentUrls": { "type": "array", "items": { "type": "string", "format": "uri" }, "maxItems": 2 },
          "attachmentNames": { "type": "array", "items": { "type": "string" } },
          "ghlContactId": { "type": "string" },
          "ghlLocationId": { "type": "string" },
          "hsContactId": { "type": "string" },
          "hsPortalId": { "type": "string" },
          "contactOwnerEmail": { "type": "string", "nullable": true, "description": "Email of the workspace user who owns this contact. Omit to default to the first user in the workspace." }
        }
      },
      "SendMessageResponse": {
        "type": "object",
        "properties": {
          "message": { "$ref": "#/components/schemas/Message" },
          "success": { "type": "boolean" },
          "leadId": { "type": "string", "nullable": true },
          "ghlContactId": { "type": "string", "nullable": true },
          "ghlLocationId": { "type": "string", "nullable": true },
          "hsPortalId": { "type": "string", "nullable": true },
          "hsContactId": { "type": "string", "nullable": true },
          "status": { "type": "string", "enum": ["sent", "pending", "scheduled", "fallback", "failed"] },
          "reason": { "type": "string" },
          "scheduledDate": { "type": "string", "format": "date-time" },
          "duplicateOnly": { "type": "boolean" },
          "existingLeadIds": { "type": "array", "items": { "type": "string" } },
          "leadIds": { "type": "array", "items": { "type": "string" } },
          "duplicateMessage": { "type": "string" },
          "error": { "type": "string" }
        }
      },
      "Message": {
        "type": "object",
        "properties": {
          "_id": { "type": "string" },
          "message": { "type": "string" },
          "messageType": { "type": "string" },
          "status": { "type": "string" },
          "fromLineId": { "type": "string" },
          "fromLinePhone": { "type": "string" },
          "fromLineEmail": { "type": "string" },
          "recipientPhone": { "type": "string" },
          "recipientEmail": { "type": "string" },
          "recipientName": { "type": "string" },
          "leadId": { "type": "string" },
          "workspaceId": { "type": "string" },
          "createdAt": { "type": "string", "format": "date-time" },
          "updatedAt": { "type": "string", "format": "date-time" },
          "sentAt": { "type": "string", "format": "date-time" },
          "deliveredAt": { "type": "string", "format": "date-time" },
          "errorMessage": { "type": "string" },
          "attachmentUrls": { "type": "array", "items": { "type": "string" } },
          "externalMessageId": { "type": "string" }
        }
      },
      "CreateLeadsRequest": {
        "type": "object",
        "properties": {
          "leads": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "firstName": { "type": "string" },
                "lastName": { "type": "string" },
                "email": { "type": "string" },
                "phone": { "type": "string" },
                "companyName": { "type": "string" },
                "jobTitle": { "type": "string" },
                "notes": { "type": "string" },
                "customFields": { "type": "object" },
                "externalId": { "type": "string" },
                "hsContactId": { "type": "string" },
                "ghlContactId": { "type": "string" },
                "ghlLocationId": { "type": "string" },
                "contactOwnerEmail": { "type": "string", "nullable": true, "description": "Email of the workspace user who owns this contact. If omitted, invalid, or not a workspace member, defaults to the first user in the workspace." }
              }
            }
          },
          "body": { "description": "Alias for leads (same as leads array)" },
          "listId": { "type": "string", "description": "Omit to use Quick Sends list" },
          "source": { "type": "string", "default": "csv" },
          "defaultCountryCode": { "type": "string", "default": "+1" },
          "ghlLocationId": { "type": "string" },
          "contactOwnerEmail": { "type": "string", "nullable": true, "description": "Default contact owner email for all leads in this batch. Per-lead contactOwnerEmail overrides this." }
        }
      },
      "CreateLeadsResponse": {
        "type": "object",
        "properties": {
          "message": { "type": "string" },
          "savedCount": { "type": "integer" },
          "duplicateCount": { "type": "integer" },
          "totalProcessed": { "type": "integer" },
          "listId": { "type": "string" },
          "leadId": { "type": "string", "nullable": true },
          "leadIds": { "type": "array", "items": { "type": "string" } },
          "leadListIds": { "type": "array", "items": { "type": "string" } },
          "duplicates": { "type": "array" },
          "ghlContactId": { "type": "string", "nullable": true },
          "ghlLocationId": { "type": "string", "nullable": true },
          "hsPortalId": { "type": "string", "nullable": true },
          "hsContactId": { "type": "string", "nullable": true }
        }
      },
      "CreateLeadsDuplicateResponse": {
        "type": "object",
        "properties": {
          "message": { "type": "string" },
          "duplicateOnly": { "type": "boolean" },
          "duplicateCount": { "type": "integer" },
          "totalProcessed": { "type": "integer" },
          "leadId": { "type": "string", "nullable": true },
          "existingLeadIds": { "type": "array", "items": { "type": "string" } },
          "leadIds": { "type": "array", "items": { "type": "string" } },
          "duplicates": { "type": "array" },
          "ghlContactId": { "type": "string", "nullable": true },
          "ghlLocationId": { "type": "string", "nullable": true },
          "hsPortalId": { "type": "string", "nullable": true },
          "hsContactId": { "type": "string", "nullable": true }
        }
      },
      "GetLeadsResponse": {
        "oneOf": [
          { "type": "object", "properties": { "lead": { "$ref": "#/components/schemas/Lead" } } },
          {
            "type": "object",
            "properties": {
              "leads": { "type": "array", "items": { "$ref": "#/components/schemas/Lead" } },
              "lists": { "type": "array", "items": { "$ref": "#/components/schemas/List" } },
              "pagination": { "$ref": "#/components/schemas/Pagination" }
            }
          }
        ]
      },
      "Lead": {
        "type": "object",
        "properties": {
          "_id": { "type": "string" },
          "firstName": { "type": "string" },
          "lastName": { "type": "string" },
          "email": { "type": "string" },
          "phone": { "type": "string" },
          "listId": { "type": "string" },
          "workspaceId": { "type": "string" },
          "source": { "type": "string" },
          "contactOwnerEmail": { "type": "string", "nullable": true, "description": "Email of the assigned contact owner. Null for legacy leads." },
          "createdAt": { "type": "string", "format": "date-time" },
          "updatedAt": { "type": "string", "format": "date-time" }
        }
      },
      "List": {
        "type": "object",
        "properties": {
          "_id": { "type": "string" },
          "name": { "type": "string" },
          "description": { "type": "string" },
          "workspaceId": { "type": "string" },
          "leadCount": { "type": "integer" }
        }
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": { "type": "integer" },
          "limit": { "type": "integer" },
          "totalCount": { "type": "integer" },
          "totalPages": { "type": "integer" }
        }
      },
      "GetLinesResponse": {
        "type": "object",
        "properties": {
          "lines": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "_id": { "type": "string" },
                "workspaceId": { "type": "string" },
                "phone": { "type": "string" },
                "email": { "type": "string" },
                "firstName": { "type": "string" },
                "lastName": { "type": "string" },
                "isActive": { "type": "boolean" },
                "provisioningStatus": { "type": "string" },
                "lineType": { "type": "string" },
                "dailyNewConversationsLimit": { "type": "integer" },
                "dailyTotalMessagesLimit": { "type": "integer" },
                "usage": {
                  "type": "object",
                  "properties": {
                    "date": { "type": "string" },
                    "newConversationsCount": { "type": "integer" },
                    "totalMessagesCount": { "type": "integer" }
                  }
                },
                "healthCheck": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "string", "enum": ["healthy", "down"] },
                    "lastCheckedAt": { "type": "string", "format": "date-time" }
                  }
                },
                "createdAt": { "type": "string", "format": "date-time" },
                "updatedAt": { "type": "string", "format": "date-time" }
              }
            }
          }
        }
      },
      "GetRepliesResponse": {
        "type": "object",
        "properties": {
          "replies": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "leadId": { "type": "string" },
                "messageId": { "type": "string" },
                "message": { "type": "string", "description": "The reply text from the lead (e.g. \"Stop\")" },
                "respondedAtUtc": { "type": "string", "format": "date-time" },
                "recipientEmail": { "type": "string" },
                "recipientPhone": { "type": "string" },
                "name": { "type": "string" },
                "recentReplies": {
                  "type": "array",
                  "description": "Up to 10 most recent inbound replies from this lead, newest first",
                  "items": {
                    "type": "object",
                    "properties": {
                      "messageId": { "type": "string" },
                      "message": { "type": "string" },
                      "receivedAtUtc": { "type": "string", "format": "date-time" }
                    }
                  }
                },
                "parentMessages": {
                  "type": "array",
                  "description": "Up to 10 most recent outbound messages sent to this lead, newest first",
                  "items": {
                    "type": "object",
                    "properties": {
                      "messageId": { "type": "string" },
                      "message": { "type": "string" },
                      "sentAtUtc": { "type": "string" },
                      "batchId": { "type": "string" },
                      "stepIndex": { "type": "integer" }
                    }
                  }
                }
              }
            }
          },
          "total": { "type": "integer" },
          "page": { "type": "integer" },
          "limit": { "type": "integer" },
          "totalPages": { "type": "integer" }
        }
      },
      "CancelForLeadRequest": {
        "type": "object",
        "properties": {
          "leadId": { "type": "string", "description": "Lead ID to cancel messages for" },
          "recipientPhone": { "type": "string", "description": "Phone number (E.164) — looks up lead, falls back to matching messages directly" },
          "recipientEmail": { "type": "string", "description": "Email address — looks up lead, falls back to matching messages directly" }
        }
      },
      "CancelForLeadResponse": {
        "type": "object",
        "properties": {
          "success": { "type": "boolean" },
          "cancelledCount": { "type": "integer", "description": "Number of messages cancelled in DB" },
          "jobsRemovedFromQueue": { "type": "integer", "description": "Number of BullMQ jobs removed" },
          "leadId": { "type": "string", "nullable": true },
          "messageIds": { "type": "array", "items": { "type": "string" }, "description": "IDs of cancelled messages" }
        }
      },
      "AddLeadToCampaignRequest": {
        "type": "object",
        "properties": {
          "leadId": { "type": "string", "description": "Existing lead ID" },
          "lead": {
            "type": "object",
            "description": "Create new lead and add",
            "properties": {
              "firstName": { "type": "string" },
              "lastName": { "type": "string" },
              "email": { "type": "string" },
              "phone": { "type": "string" },
              "companyName": { "type": "string" },
              "jobTitle": { "type": "string" }
            }
          }
        }
      },
      "AddLeadToCampaignResponse": {
        "type": "object",
        "properties": {
          "success": { "type": "boolean" },
          "leadId": { "type": "string" },
          "campaignId": { "type": "string" },
          "messageCount": { "type": "integer" },
          "message": { "type": "string" },
          "alreadyInCampaign": { "type": "boolean" },
          "existingLeadIds": { "type": "array", "items": { "type": "string" } },
          "ghlContactId": { "type": "string", "nullable": true },
          "ghlLocationId": { "type": "string", "nullable": true },
          "hsPortalId": { "type": "string", "nullable": true },
          "hsContactId": { "type": "string", "nullable": true }
        }
      },
      "WebhookObject": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "description": "Webhook ID" },
          "url": { "type": "string", "description": "Endpoint URL" },
          "events": {
            "type": "array",
            "items": { "type": "string", "enum": ["message.sent", "message.failed", "message.fallback", "message.reply", "message.opened"] },
            "description": "Subscribed event types"
          },
          "name": { "type": "string", "description": "User-friendly name" },
          "description": { "type": "string", "nullable": true, "description": "Optional description" },
          "isActive": { "type": "boolean", "description": "Whether the webhook is active" },
          "lastTriggeredAt": { "type": "string", "format": "date-time", "nullable": true, "description": "Last time any event was sent" },
          "lastSuccessAt": { "type": "string", "format": "date-time", "nullable": true, "description": "Last successful delivery" },
          "lastFailureAt": { "type": "string", "format": "date-time", "nullable": true, "description": "Last failed delivery" },
          "failureCount": { "type": "integer", "description": "Consecutive failure count" },
          "createdAt": { "type": "string", "format": "date-time" },
          "updatedAt": { "type": "string", "format": "date-time" }
        }
      },
      "ListWebhooksResponse": {
        "type": "object",
        "properties": {
          "webhooks": { "type": "array", "items": { "$ref": "#/components/schemas/WebhookObject" } }
        }
      },
      "WebhookResponse": { "$ref": "#/components/schemas/WebhookObject" },
      "CreateWebhookRequest": {
        "type": "object",
        "required": ["url", "events", "name"],
        "properties": {
          "url": { "type": "string", "description": "HTTPS endpoint URL to receive webhook POSTs" },
          "events": {
            "type": "array",
            "items": { "type": "string", "enum": ["message.sent", "message.failed", "message.fallback", "message.reply", "message.opened"] },
            "description": "Event types to subscribe to (at least one required)"
          },
          "name": { "type": "string", "description": "User-friendly name for this webhook" },
          "description": { "type": "string", "description": "Optional description" }
        }
      },
      "CreateWebhookResponse": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "description": "Webhook ID" },
          "secret": { "type": "string", "description": "HMAC signing secret — shown ONCE. Save it now." },
          "url": { "type": "string" },
          "events": { "type": "array", "items": { "type": "string" } },
          "name": { "type": "string" },
          "description": { "type": "string", "nullable": true },
          "createdAt": { "type": "string", "format": "date-time" },
          "warning": { "type": "string", "description": "Reminder to save the secret" }
        }
      },
      "UpdateWebhookRequest": {
        "type": "object",
        "properties": {
          "url": { "type": "string", "description": "New endpoint URL" },
          "events": {
            "type": "array",
            "items": { "type": "string", "enum": ["message.sent", "message.failed", "message.fallback", "message.reply", "message.opened"] },
            "description": "New event subscriptions (replaces existing)"
          },
          "name": { "type": "string", "description": "New name" },
          "description": { "type": "string", "description": "New description" },
          "isActive": { "type": "boolean", "description": "Enable or disable without deleting" }
        }
      },
      "WebhookHealthCheckResponse": {
        "type": "object",
        "properties": {
          "success": { "type": "boolean", "description": "Whether your endpoint responded with 2xx" },
          "message": { "type": "string", "description": "Human-readable result (on success)" },
          "statusCode": { "type": "integer", "description": "HTTP status code from your endpoint" },
          "response": { "type": "string", "description": "Response body from your endpoint" },
          "error": { "type": "string", "description": "Error message (on failure)" },
          "details": { "type": "string", "description": "Error details (on failure)" }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "required": ["error"],
        "properties": {
          "error": { "type": "string" },
          "code": { "type": "string" },
          "reason": { "type": "string" }
        }
      }
    }
  }
}
