{
  "openapi": "3.1.0",
  "info": {
    "title": "Tuco AI API",
    "description": "Send iMessages, SMS, and email at scale. Create leads, add to campaigns, get lines, check replies. All endpoints support Bearer API key (`Authorization: Bearer tuco_sk_...`).",
    "version": "1.0.0",
    "contact": {
      "email": "support@tuco.ai",
      "url": "https://app.tuco.ai"
    }
  },
  "servers": [
    {
      "url": "https://app.tuco.ai",
      "description": "Production"
    }
  ],
  "security": [{ "bearerAuth": [] }],
  "paths": {
    "/api/messages": {
      "post": {
        "operationId": "sendMessage",
        "summary": "Send iMessage / SMS / Email",
        "description": "Send one message to a recipient. Use `leadId` or `recipientPhone`/`recipientEmail`. Tuco round-robins lines when `fromLineId` is omitted. Either `message` or `attachmentUrls` (or both) is required.",
        "tags": ["Messages"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/SendMessageRequest" },
              "examples": {
                "minimal": {
                  "summary": "Minimal (iMessage)",
                  "value": { "message": "Hi from Tuco.", "recipientPhone": "+12025551234" }
                },
                "withLead": {
                  "summary": "Send to existing lead",
                  "value": { "message": "Following up.", "leadId": "674a1b2c3d4e5f6789012345" }
                },
                "withAttachments": {
                  "summary": "With attachments (max 2)",
                  "value": {
                    "message": "Here’s the doc.",
                    "leadId": "674a1b2c3d4e5f6789012345",
                    "attachmentUrls": ["https://example.com/doc.pdf"]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Message created and sent or queued",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/SendMessageResponse" }
              }
            }
          },
          "200": {
            "description": "Message sent using existing duplicate lead",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/SendMessageResponse" },
                "example": {
                  "message": { "_id": "...", "message": "Hi", "status": "sent" },
                  "success": true,
                  "leadId": "69b2c41d352a78479d2c623b",
                  "ghlContactId": "aMUQn0u0Z7cw0NQ7tJ5R",
                  "ghlLocationId": "eL7DD22BdZ0rismu7qCA",
                  "duplicateOnly": true,
                  "existingLeadIds": ["69b2c41d352a78479d2c623b"],
                  "leadIds": ["69b2c41d352a78479d2c623b"],
                  "duplicateMessage": "Lead was duplicate; message sent using existing lead."
                }
              }
            }
          },
          "400": {
            "description": "Validation error — see examples for every possible body",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" },
                "examples": {
                  "bodyNotObject": { "summary": "Body not JSON object", "value": { "error": "Request body must be a JSON object" } },
                  "invalidJson": { "summary": "Invalid JSON", "value": { "error": "Invalid request body (JSON required)" } },
                  "empty": { "summary": "Message and attachments empty", "value": { "error": "Message and attachmentUrls cannot both be empty" } },
                  "invalidType": { "summary": "Invalid messageType", "value": { "error": "Invalid messageType. Must be email, sms, or imessage" } },
                  "attachmentUrlsNotArray": { "summary": "attachmentUrls not array", "value": { "error": "attachmentUrls must be an array" } },
                  "maxAttachments": { "summary": "More than 2 attachments", "value": { "error": "Maximum 2 attachments per message" } },
                  "noLines": { "summary": "No active lines", "value": { "error": "No active lines in workspace. Add and activate a line, or provide fromLineId." } },
                  "invalidScheduledDate": { "summary": "Invalid scheduledDate", "value": { "error": "Invalid scheduledDate format" } },
                  "invalidTimeWindow": { "summary": "Invalid time format", "value": { "error": "Invalid time format. sendWindowStart and sendWindowEnd must be in HH:mm format (e.g., 09:00, 17:00)" } },
                  "invalidTimezone": { "summary": "Invalid timezone/window", "value": { "error": "Invalid timezone or time window settings. Please check your timezone and time format." } },
                  "noRecipient": { "summary": "No recipient", "value": { "error": "Either recipientEmail or recipientPhone is required (in body or on the lead when leadId is provided)." } },
                  "fallback": { "summary": "Fallback not configured", "value": { "error": "sendFallbackSmsOnFailed is true but fallback SMS is not configured. Configure fallback in workspace settings (Settings → Fallback) or set sendFallbackSmsOnFailed to false.", "code": "FALLBACK_NOT_CONFIGURED" } }
                }
              }
            }
          },
          "403": {
            "description": "Attachment URL not allowed for this workspace",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" },
                "example": { "error": "Attachment URL does not belong to this organization" }
              }
            }
          },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" }, "example": { "error": "Unauthorized" } } } },
          "402": { "description": "Subscription past due", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" }, "example": { "error": "READ_ONLY", "code": "READ_ONLY", "reason": "past_due" } } } },
          "404": { "description": "Lead not found", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" }, "example": { "error": "Lead not found or access denied" } } } },
          "500": { "description": "Internal server error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/api/leads": {
      "post": {
        "operationId": "createLeads",
        "summary": "Create or import leads",
        "description": "Create one or more leads. Omit `listId` to use Quick Sends list. Accepts `leads` array or `body` as alias. Returns 200 when all duplicates (existing lead IDs returned).",
        "tags": ["Leads"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CreateLeadsRequest" }
            }
          }
        },
        "responses": {
          "201": {
            "description": "At least one lead created",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CreateLeadsResponse" }
              }
            }
          },
          "200": {
            "description": "All leads were duplicates; existing IDs returned",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CreateLeadsDuplicateResponse" }
              }
            }
          },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" }, "example": { "error": "Unauthorized" } } } },
          "402": { "description": "Read-only (past due)", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" }, "example": { "error": "READ_ONLY", "code": "READ_ONLY", "reason": "past_due" } } } },
          "404": { "description": "List not found", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" }, "example": { "error": "List not found. The specified listId does not exist or is invalid. Omit listId to use the Quick Sends list." } } } },
          "500": { "description": "Internal server error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" }, "example": { "error": "Internal server error" } } } }
        }
      },
      "get": {
        "operationId": "getLeads",
        "summary": "Get leads (search or single)",
        "description": "List leads with optional `search`, `listId`, `page`, `limit`. Use query `id` for a single lead by ID.",
        "tags": ["Leads"],
        "parameters": [
          { "name": "id", "in": "query", "description": "Single lead ID (returns { lead })", "schema": { "type": "string" } },
          { "name": "search", "in": "query", "description": "Search firstName, lastName, email, phone, companyName (case-insensitive)", "schema": { "type": "string" } },
          { "name": "listId", "in": "query", "description": "Filter by list", "schema": { "type": "string" } },
          { "name": "page", "in": "query", "schema": { "type": "integer", "default": 1 } },
          { "name": "limit", "in": "query", "schema": { "type": "integer", "default": 50 } }
        ],
        "responses": {
          "200": {
            "description": "Leads and lists (or single lead when id provided)",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/GetLeadsResponse" }
              }
            }
          },
          "400": {
            "description": "Invalid lead id or no workspace",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" },
                "examples": {
                  "invalidLeadId": { "summary": "Invalid lead id", "value": { "error": "Invalid lead id" } },
                  "noWorkspace": { "summary": "No active workspace", "value": { "error": "No active workspace" } }
                }
              }
            }
          },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" }, "example": { "error": "Unauthorized" } } } },
          "404": { "description": "Lead not found (when id provided)", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" }, "example": { "error": "Lead not found" } } } },
          "503": { "description": "Search timeout", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" }, "example": { "error": "Search timed out. Try a more specific search or fewer results." } } } },
          "500": { "description": "Internal server error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" }, "example": { "error": "Internal server error" } } } }
        }
      }
    },
    "/api/lines/by-user": {
      "get": {
        "operationId": "getLines",
        "summary": "Get all lines",
        "description": "Returns all lines for the authenticated workspace with usage and health.",
        "tags": ["Lines"],
        "responses": {
          "200": {
            "description": "List of lines",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/GetLinesResponse" }
              }
            }
          },
          "400": { "description": "No active workspace", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" }, "example": { "error": "No active workspace" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "500": { "description": "Internal server error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/api/replies": {
      "get": {
        "operationId": "getReplies",
        "summary": "Check replies for a lead (or campaign)",
        "description": "Returns leads who have replied. Filter by `leadId`, `campaignId`, `recipientEmail`, or `recipientPhone`. Paginated.",
        "tags": ["Replies"],
        "parameters": [
          { "name": "leadId", "in": "query", "description": "Replies from this lead only", "schema": { "type": "string" } },
          { "name": "campaignId", "in": "query", "description": "Replies from leads in this campaign", "schema": { "type": "string" } },
          { "name": "recipientEmail", "in": "query", "schema": { "type": "string" } },
          { "name": "recipientPhone", "in": "query", "schema": { "type": "string" } },
          { "name": "page", "in": "query", "schema": { "type": "integer", "default": 1 } },
          { "name": "limit", "in": "query", "schema": { "type": "integer", "default": 50 } }
        ],
        "responses": {
          "200": {
            "description": "Replies list",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/GetRepliesResponse" }
              }
            }
          },
          "400": {
            "description": "Invalid leadId or campaignId",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" },
                "examples": {
                  "invalidLeadId": { "summary": "Invalid leadId", "value": { "error": "Invalid leadId" } },
                  "invalidCampaignId": { "summary": "Invalid campaignId", "value": { "error": "Invalid campaignId" } },
                  "noWorkspace": { "summary": "No active workspace", "value": { "error": "No active workspace" } }
                }
              }
            }
          },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" }, "example": { "error": "Unauthorized" } } } },
          "404": {
            "description": "Lead or campaign not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" },
                "examples": {
                  "leadNotFound": { "summary": "Lead not found", "value": { "error": "Lead not found or access denied" } },
                  "campaignNotFound": { "summary": "Campaign not found", "value": { "error": "Campaign not found" } }
                }
              }
            }
          },
          "500": { "description": "Internal server error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" }, "example": { "error": "Failed to fetch replies" } } } }
        }
      }
    },
    "/api/campaigns/{id}/leads": {
      "post": {
        "operationId": "addLeadToCampaign",
        "summary": "Add lead to campaign",
        "description": "Add an existing lead by `leadId` or create a new lead with `lead` object. Starts the campaign sequence. Returns 200 when lead already in campaign.",
        "tags": ["Campaigns"],
        "parameters": [{ "name": "id", "in": "path", "required": true, "description": "Campaign ID", "schema": { "type": "string" } }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/AddLeadToCampaignRequest" }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Lead added and sequence started",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/AddLeadToCampaignResponse" }
              }
            }
          },
          "200": {
            "description": "Lead already in campaign",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/AddLeadToCampaignResponse" },
                "example": {
                  "success": true,
                  "leadId": "69b2c41d352a78479d2c623b",
                  "campaignId": "69ab444ac1feb77d7f46462f",
                  "messageCount": 0,
                  "message": "Lead already in campaign (re-entry not allowed).",
                  "alreadyInCampaign": true,
                  "existingLeadIds": ["69b2c41d352a78479d2c623b"],
                  "ghlContactId": "aMUQn0u0Z7cw0NQ7tJ5R",
                  "ghlLocationId": "eL7DD22BdZ0rismu7qCA"
                }
              }
            }
          },
          "400": {
            "description": "Missing leadId/lead or validation",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" },
                "examples": {
                  "eitherRequired": { "summary": "leadId or lead required", "value": { "error": "Either leadId or lead data is required" } },
                  "firstNameRequired": { "summary": "firstName required when using lead", "value": { "error": "firstName is required" } },
                  "emailOrPhoneRequired": { "summary": "email or phone required", "value": { "error": "Either email or phone is required" } },
                  "invalidRequest": { "summary": "Invalid request", "value": { "error": "Invalid request: must provide leadId or lead data" } },
                  "leadNotResolved": { "summary": "Lead not resolved", "value": { "error": "Lead not resolved" } },
                  "processFailed": { "summary": "Process failed", "value": { "error": "Failed to process lead through campaign" } }
                }
              }
            }
          },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" }, "example": { "error": "Unauthorized" } } } },
          "404": {
            "description": "Campaign or lead not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" },
                "examples": {
                  "campaignNotFound": { "summary": "Campaign not found", "value": { "error": "Campaign not found" } },
                  "leadNotFound": { "summary": "Lead not found", "value": { "error": "Lead not found" } }
                }
              }
            }
          },
          "500": { "description": "Internal server error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" }, "example": { "error": "Internal server error" } } } }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "API Key",
        "description": "Workspace API key: Authorization: Bearer tuco_sk_xxxxxxxxxxxxx"
      }
    },
    "schemas": {
      "SendMessageRequest": {
        "type": "object",
        "properties": {
          "message": { "type": "string", "description": "Text content. Required unless attachmentUrls provided." },
          "messageType": { "type": "string", "enum": ["imessage", "sms", "email"], "default": "imessage" },
          "recipientPhone": { "type": "string", "description": "E.164 phone" },
          "recipientEmail": { "type": "string" },
          "recipientName": { "type": "string" },
          "fromLineId": { "type": "string", "description": "Optional; round-robin when omitted" },
          "leadId": { "type": "string", "description": "Existing lead ID" },
          "altPhone1": { "type": "string" },
          "altPhone2": { "type": "string" },
          "altPhone3": { "type": "string" },
          "altEmail1": { "type": "string" },
          "altEmail2": { "type": "string" },
          "altEmail3": { "type": "string" },
          "scheduledDate": { "type": "string", "format": "date-time" },
          "timezone": { "type": "string" },
          "sendWindowStart": { "type": "string", "description": "HH:mm" },
          "sendWindowEnd": { "type": "string", "description": "HH:mm" },
          "allowedDaysOfWeek": { "type": "array", "items": { "type": "integer", "minimum": 0, "maximum": 6 } },
          "sendFallbackSmsOnFailed": { "type": "boolean", "default": false },
          "batchId": { "type": "string" },
          "attachmentUrls": { "type": "array", "items": { "type": "string", "format": "uri" }, "maxItems": 2 },
          "attachmentNames": { "type": "array", "items": { "type": "string" } }
        }
      },
      "SendMessageResponse": {
        "type": "object",
        "properties": {
          "message": { "$ref": "#/components/schemas/Message" },
          "success": { "type": "boolean" },
          "leadId": { "type": "string", "nullable": true },
          "ghlContactId": { "type": "string", "nullable": true },
          "ghlLocationId": { "type": "string", "nullable": true },
          "hsPortalId": { "type": "string", "nullable": true },
          "hsContactId": { "type": "string", "nullable": true },
          "status": { "type": "string", "enum": ["sent", "pending", "scheduled", "fallback", "failed"] },
          "reason": { "type": "string" },
          "scheduledDate": { "type": "string", "format": "date-time" },
          "duplicateOnly": { "type": "boolean" },
          "existingLeadIds": { "type": "array", "items": { "type": "string" } },
          "leadIds": { "type": "array", "items": { "type": "string" } },
          "duplicateMessage": { "type": "string" },
          "error": { "type": "string" }
        }
      },
      "Message": {
        "type": "object",
        "properties": {
          "_id": { "type": "string" },
          "message": { "type": "string" },
          "messageType": { "type": "string" },
          "status": { "type": "string" },
          "fromLineId": { "type": "string" },
          "fromLinePhone": { "type": "string" },
          "fromLineEmail": { "type": "string" },
          "recipientPhone": { "type": "string" },
          "recipientEmail": { "type": "string" },
          "recipientName": { "type": "string" },
          "leadId": { "type": "string" },
          "workspaceId": { "type": "string" },
          "createdAt": { "type": "string", "format": "date-time" },
          "updatedAt": { "type": "string", "format": "date-time" },
          "sentAt": { "type": "string", "format": "date-time" },
          "deliveredAt": { "type": "string", "format": "date-time" },
          "errorMessage": { "type": "string" },
          "attachmentUrls": { "type": "array", "items": { "type": "string" } },
          "externalMessageId": { "type": "string" }
        }
      },
      "CreateLeadsRequest": {
        "type": "object",
        "properties": {
          "leads": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "firstName": { "type": "string" },
                "lastName": { "type": "string" },
                "email": { "type": "string" },
                "phone": { "type": "string" },
                "companyName": { "type": "string" },
                "jobTitle": { "type": "string" },
                "notes": { "type": "string" },
                "customFields": { "type": "object" },
                "externalId": { "type": "string" }
              }
            }
          },
          "body": { "description": "Alias for leads (same as leads array)" },
          "listId": { "type": "string", "description": "Omit to use Quick Sends list" },
          "source": { "type": "string", "default": "csv" },
          "defaultCountryCode": { "type": "string", "default": "+1" },
          "ghlLocationId": { "type": "string" }
        }
      },
      "CreateLeadsResponse": {
        "type": "object",
        "properties": {
          "message": { "type": "string" },
          "savedCount": { "type": "integer" },
          "duplicateCount": { "type": "integer" },
          "totalProcessed": { "type": "integer" },
          "listId": { "type": "string" },
          "leadId": { "type": "string", "nullable": true },
          "leadIds": { "type": "array", "items": { "type": "string" } },
          "leadListIds": { "type": "array", "items": { "type": "string" } },
          "duplicates": { "type": "array" },
          "ghlContactId": { "type": "string", "nullable": true },
          "ghlLocationId": { "type": "string", "nullable": true },
          "hsPortalId": { "type": "string", "nullable": true },
          "hsContactId": { "type": "string", "nullable": true }
        }
      },
      "CreateLeadsDuplicateResponse": {
        "type": "object",
        "properties": {
          "message": { "type": "string" },
          "duplicateOnly": { "type": "boolean" },
          "duplicateCount": { "type": "integer" },
          "totalProcessed": { "type": "integer" },
          "leadId": { "type": "string", "nullable": true },
          "existingLeadIds": { "type": "array", "items": { "type": "string" } },
          "leadIds": { "type": "array", "items": { "type": "string" } },
          "duplicates": { "type": "array" },
          "ghlContactId": { "type": "string", "nullable": true },
          "ghlLocationId": { "type": "string", "nullable": true },
          "hsPortalId": { "type": "string", "nullable": true },
          "hsContactId": { "type": "string", "nullable": true }
        }
      },
      "GetLeadsResponse": {
        "oneOf": [
          { "type": "object", "properties": { "lead": { "$ref": "#/components/schemas/Lead" } } },
          {
            "type": "object",
            "properties": {
              "leads": { "type": "array", "items": { "$ref": "#/components/schemas/Lead" } },
              "lists": { "type": "array", "items": { "$ref": "#/components/schemas/List" } },
              "pagination": { "$ref": "#/components/schemas/Pagination" }
            }
          }
        ]
      },
      "Lead": {
        "type": "object",
        "properties": {
          "_id": { "type": "string" },
          "firstName": { "type": "string" },
          "lastName": { "type": "string" },
          "email": { "type": "string" },
          "phone": { "type": "string" },
          "listId": { "type": "string" },
          "workspaceId": { "type": "string" },
          "source": { "type": "string" },
          "createdAt": { "type": "string", "format": "date-time" },
          "updatedAt": { "type": "string", "format": "date-time" }
        }
      },
      "List": {
        "type": "object",
        "properties": {
          "_id": { "type": "string" },
          "name": { "type": "string" },
          "description": { "type": "string" },
          "workspaceId": { "type": "string" },
          "leadCount": { "type": "integer" }
        }
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": { "type": "integer" },
          "limit": { "type": "integer" },
          "totalCount": { "type": "integer" },
          "totalPages": { "type": "integer" }
        }
      },
      "GetLinesResponse": {
        "type": "object",
        "properties": {
          "lines": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "_id": { "type": "string" },
                "workspaceId": { "type": "string" },
                "phone": { "type": "string" },
                "email": { "type": "string" },
                "firstName": { "type": "string" },
                "lastName": { "type": "string" },
                "isActive": { "type": "boolean" },
                "provisioningStatus": { "type": "string" },
                "lineType": { "type": "string" },
                "dailyNewConversationsLimit": { "type": "integer" },
                "dailyTotalMessagesLimit": { "type": "integer" },
                "usage": {
                  "type": "object",
                  "properties": {
                    "date": { "type": "string" },
                    "newConversationsCount": { "type": "integer" },
                    "totalMessagesCount": { "type": "integer" }
                  }
                },
                "healthCheck": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "string", "enum": ["healthy", "down"] },
                    "lastCheckedAt": { "type": "string", "format": "date-time" }
                  }
                },
                "createdAt": { "type": "string", "format": "date-time" },
                "updatedAt": { "type": "string", "format": "date-time" }
              }
            }
          }
        }
      },
      "GetRepliesResponse": {
        "type": "object",
        "properties": {
          "replies": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "leadId": { "type": "string" },
                "messageId": { "type": "string" },
                "respondedAtUtc": { "type": "string", "format": "date-time" },
                "recipientEmail": { "type": "string" },
                "recipientPhone": { "type": "string" },
                "name": { "type": "string" },
                "parentMessages": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "messageId": { "type": "string" },
                      "message": { "type": "string" },
                      "sentAtUtc": { "type": "string" },
                      "batchId": { "type": "string" },
                      "stepIndex": { "type": "integer" }
                    }
                  }
                }
              }
            }
          },
          "total": { "type": "integer" },
          "page": { "type": "integer" },
          "limit": { "type": "integer" },
          "totalPages": { "type": "integer" }
        }
      },
      "AddLeadToCampaignRequest": {
        "type": "object",
        "properties": {
          "leadId": { "type": "string", "description": "Existing lead ID" },
          "lead": {
            "type": "object",
            "description": "Create new lead and add",
            "properties": {
              "firstName": { "type": "string" },
              "lastName": { "type": "string" },
              "email": { "type": "string" },
              "phone": { "type": "string" },
              "companyName": { "type": "string" },
              "jobTitle": { "type": "string" }
            }
          }
        }
      },
      "AddLeadToCampaignResponse": {
        "type": "object",
        "properties": {
          "success": { "type": "boolean" },
          "leadId": { "type": "string" },
          "campaignId": { "type": "string" },
          "messageCount": { "type": "integer" },
          "message": { "type": "string" },
          "alreadyInCampaign": { "type": "boolean" },
          "existingLeadIds": { "type": "array", "items": { "type": "string" } },
          "ghlContactId": { "type": "string", "nullable": true },
          "ghlLocationId": { "type": "string", "nullable": true },
          "hsPortalId": { "type": "string", "nullable": true },
          "hsContactId": { "type": "string", "nullable": true }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "required": ["error"],
        "properties": {
          "error": { "type": "string" },
          "code": { "type": "string" },
          "reason": { "type": "string" }
        }
      }
    }
  }
}
